<div id="Top">
    <div class="t_head">
        <div class="head_cont">
            <a href="{:U('Index/index')}">
                <img class="logo" src="__PUBLIC__/images/admin/logo.png" alt="dingxw.com" width="50px" height="50px"/>
            </a>
            <ul class="head_nav">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li><a class="selt" href="{:U('Blog/index')}">博客</a></li>
                <li><a href="#">游记</a></li>
                <li><a href="#">笑话</a></li>
                <li><a href="#">美食</a></li>
                <li><a href="#">留言板</a></li>
                <li><a href="#">联系站长</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>
<div class="my_blog">丁小旺的博客</div>
